.App {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 20pt;
  border: none;
  border-bottom: 1px solid #616161;
}

.flex-grow-1 {
  flex-grow: 1;
}

.error {
  font-size: 8pt;
  color: #f44336;
}

.copyright {
  flex-grow: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #bababa;
  font-size: 10pt;
}

.copyright a {
  color: #bababa;
}